h1 {text-align: center;}
h2 {text-align: center;}


.border1 {
    border-style: solid;
    border-width: 5px 5px 5 px;
}
.border2 {
    border-style: solid;
    border-width: 5px 5px 5 px;
}
.container {
    position: absolute;
    border: 5px solid black;
    height: 100px;
    top : 350px;
    position: relative;

}
  
.box1 {
    position: absolute;
    top: 50px;
    left: 400px;
}
.box2 {
    position: absolute;
    top: 50px;
    left: 800px;
}
.box3 {
    position: absolute;
    top: 50px;
    left: 1200px;
}
#container2
{
    border-right: 5px solid black;
    height: 100px;
    
}